:root{
    --backgroundColor: #151a52;
    --primaryColor: #fdfdfd;
    --secondaryColor:#e43737;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--backgroundColor);
    color: white;
}
.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 1rem;
}
#form{
    text-align: center;
    margin: 1rem 0.5rem;
}
h1{
    text-align: center;
}

input{
    border: none;
    background: var(--backgroundColor);
    border-bottom: solid 1px white;
    font-size: larger;
    color: white;
    padding: 0.25rem;
    width: 400px;
}


button{
    background: var(--secondaryColor);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    margin-left: 1rem;
}
#form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.5rem;
}
.card{
    background: white;
    margin: 0.5rem;
    box-shadow: 0 6px 3px -3px rgb(194, 194, 194);
    height: 300px;
    border-radius: 15px;
    z-index: 0;
    color: var(--backgroundColor);
    padding: 1rem 0.5rem;
}   
.statusMessage{
    text-align: center;
    border-radius: 6px;
    color: #f3f3f3;
    font-size: smaller;
    padding: 0.25rem 0.5rem;
}
.success{
    background: green;
}
.failure{
    background: red;
}

/* Tablet */
@media(max-width: 960px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Tablet */
@media(max-width: 640px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

